# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.hmap
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdatad/
!*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserdata/

# Swift Package Manager
Package.pins
.build/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace/
xcuserdata/

# Carthage
Carthage/Checkouts
Carthage/Build

# AppCode
.idea/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
